<div class="back position-absolute"
     [routerLink]="'/portal'">
  <mat-icon class="back_icon" aria-hidden="false" aria-label="delete">arrow_back</mat-icon>
</div>

<h2 class="heading heading_questions">
  Tests
</h2>

<mat-list role="list" class="w-75 cursor-pointer">
  <ng-container *ngFor="let test of testList$ | async">
    <mat-list-item role="listitem" class="d-flex justify-content-center text-center"
                   [class.test-active]="test?.id === activeTest?.id"
                   (click)="createPermission(test)"
    >
      {{test.name}}
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
