<div class="language-container position-absolute d-flex justify-content-between align-items-center">
  <img class="language-image" alt=""
       *ngFor="let lang of languages"
       (click)="changeLanguage(lang)"
       [src]="lang.image"
       [class.language-image_active]="chosenLanguage.json === lang.json">
</div>

<mat-card class="col-4">
  <mat-card-title>QuestionMark</mat-card-title>
  <mat-card-content class="d-flex justify-content-between">
    <div class="col-8 m-0 p-0">
      <form class="mt-3 d-flex flex-column"
            *ngIf="!isRegister"
            [formGroup]="formLoginGroup"
      >
        <mat-form-field class="col-12">
          <input [formControlName]="'login'" matInput [placeholder]="'landing.email' | translate">
        </mat-form-field>

        <mat-form-field class="col-12">
          <input [formControlName]="'password'" type="password" matInput [placeholder]="'landing.password' | translate">
        </mat-form-field>
      </form>

      <form class="mt-3 d-flex flex-column"
            *ngIf="isRegister"
            [formGroup]="formRegisterGroup"
      >
        <mat-form-field class="col-12">
          <input [formControlName]="'email'" matInput [placeholder]="'landing.email' | translate">
        </mat-form-field>

        <mat-form-field class="col-12">
          <input [formControlName]="'first_name'" matInput [placeholder]="'landing.first-name' | translate">
        </mat-form-field>

        <mat-form-field class="col-12">
          <input [formControlName]="'last_name'" matInput [placeholder]="'landing.second-name' | translate">
        </mat-form-field>

        <mat-form-field class="col-12">
          <input [formControlName]="'password'" type="password" matInput [placeholder]="'landing.password' | translate">
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button
            color="primary"
            (click)="changeFormToRegister()"
    >{{(isRegister ? 'landing.finish' : 'landing.sign-up') | translate}}</button>
    <button mat-button
            color="primary"
            *ngIf="isRegister"
            (click)="changeFormToLogin()"
    >{{'landing.cancel' | translate}}</button>
    <button mat-button color="primary" *ngIf="!isRegister" (click)="login()">{{'landing.sign-in' | translate}}</button>
  </mat-card-actions>
</mat-card>
