:host {
  font-family: Roboto;
  padding-top: 50px;
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(132,79,157);
  background: linear-gradient(38deg, rgba(132,79,157,1) 0%, rgba(40,113,255,1) 100%);
}

.test {
  width: 250px;

  cursor: pointer;

  transition: .3;

  &:hover {
    background: #a4508b;

    color: white;

    mat-card-subtitle {
      color: white;
    }
  }
}
