:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test {
  width: 250px;

  cursor: pointer;

  transition: .3;

  &:hover {
    background: #a4508b;

    color: white;

    mat-card-subtitle {
      color: white;
    }
  }
}
