<mat-grid-list cols="4" rowHeight="100%">
  <mat-grid-tile colspan="1">
    <div class="col-10 d-flex flex-column align-self-start">
      <mat-form-field class="heading col-12 border-0">
        <input matInput [placeholder]="'Test name'">
      </mat-form-field>

      <mat-form-field class="heading col-12 border-0">
        <input matInput [placeholder]="'Test category'">
      </mat-form-field>

      <mat-form-field class="heading col-12 border-0">
        <input matInput [placeholder]="'Test info'">
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <h2 class="heading heading_questions align-self-start">
      Questions
    </h2>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <h2 class="heading heading_questions align-self-start">
      Components
    </h2>
  </mat-grid-tile>
</mat-grid-list>
