<app-navbar displaySettings displaySmallLogo displayMiddle></app-navbar>


<div class="wrapper">
  <div class="qm-card" style="margin-top: 50px">
    <h1 class="header">
      {{'profile.title' | translate}}
    </h1>

    <div class="col-6" style="display:inline-block;">
    <h2 class="subheader">
      {{'profile.general' | translate}}
    </h2>

    <form class="mt-3 d-flex flex-column"
          [formGroup]="profileFormGroup">
      <mat-form-field class="col-12">
        <input [formControlName]="'firstName'" matInput [placeholder]="'profile.firstName' | translate">
      </mat-form-field>
      <mat-form-field class="col-12">
        <input [formControlName]="'lastName'" matInput [placeholder]="'profile.lastName' | translate">
      </mat-form-field>
    </form>
    </div>

  <div class="navbar-wrapper">
    <div class="avatar"
         [routerLink]="'/portal/profile'">
      <img src="assets/icons/user.svg">
    <div class="col-6" style="display:inline-block;">
      <h2 class="subheader">
        {{'profile.credentials' | translate}}
      </h2>

      <form class="mt-3 d-flex flex-column"
            [formGroup]="credentialsFormGroup">
        <mat-form-field class="col-12">
          <input [formControlName]="'email'" matInput  [placeholder]="'profile.email' | translate" disabled>
        </mat-form-field>
      </form>
    </div>
    <div class="button-spacer"></div>
    <div class="button"
         [routerLink]="'/portal/platform'">
      {{'navbar.dashboard' | translate}}

    <div class="col-6" style="display:inline-block;">
      <h2 class="subheader">
        {{'profile.permissions' | translate}}
      </h2>

      <form class="mt-3 d-flex flex-column"
            [formGroup]="permissionsFormGroup">
        <mat-form-field class="col-12">
          <input [formControlName]="'role'" matInput  [placeholder]="'profile.role' | translate" disabled>
        </mat-form-field>
      </form>
    </div>
    <div class="button-spacer"></div>
    <div class="button"
         [routerLink]="'/portal/choose-test'">
      {{'navbar.test' | translate}}
    </div>
    <div class="button-spacer"></div>
    <div class="navbar-breadcrumb">
      {{'navbar.random' | translate}}
    </div>
  </div>

  </div>
</div>
