<app-navbar></app-navbar>


<div class="wrapper">
  <div class="profile">
    <h1 class="header">
      {{'profile.title' | translate}}
    </h1>

    <div class="col-6" style="display:inline-block;">
    <h2 class="subheader">
      {{'profile.general' | translate}}
    </h2>

    <form class="mt-3 d-flex flex-column"
          [formGroup]="profileFormGroup">
      <mat-form-field class="col-12">
        <input [formControlName]="'firstName'" matInput [placeholder]="'profile.firstName' | translate">
      </mat-form-field>
      <mat-form-field class="col-12">
        <input [formControlName]="'lastName'" matInput [placeholder]="'profile.lastName' | translate">
      </mat-form-field>
    </form>
    </div>

    <div class="col-6" style="display:inline-block;">
      <h2 class="subheader">
        {{'profile.credentials' | translate}}
      </h2>

      <form class="mt-3 d-flex flex-column"
            [formGroup]="credentialsFormGroup">
        <mat-form-field class="col-12">
          <input [formControlName]="'email'" matInput  [placeholder]="'profile.email' | translate" disabled>
        </mat-form-field>
      </form>
    </div>

    <div class="col-6" style="display:inline-block;">
      <h2 class="subheader">
        {{'profile.permissions' | translate}}
      </h2>

      <form class="mt-3 d-flex flex-column"
            [formGroup]="permissionsFormGroup">
        <mat-form-field class="col-12">
          <input [formControlName]="'role'" matInput  [placeholder]="'profile.role' | translate" disabled>
        </mat-form-field>
      </form>
    </div>

  </div>
</div>
