<div class="navbar">

  <div class="logo" *ngIf="!displaySmallLogo"
       [routerLink]="''">
    <img src="assets/icons/logo-long.svg">
  </div>

  <div class="logo" *ngIf="displaySmallLogo"
       [routerLink]="''">
    <img src="assets/icons/logo.svg">
  </div>

  <div class="navbar-wrapper" *ngIf="displayMiddle">
    <div class="avatar"
         [routerLink]="'/portal/profile'">
      <img src="assets/icons/user.svg">
    </div>
    <div class="button-spacer"></div>
    <div class="button"
         [routerLink]="'/portal/platform'">
      {{'navbar.dashboard' | translate}}
    </div>
    <div class="button-spacer"></div>
    <div class="button"
         [routerLink]="'/portal/choose-test'">
      {{'navbar.test' | translate}}
    </div>
    <div class="button-spacer"></div>
    <div class="navbar-breadcrumb">
      {{'navbar.random' | translate}}
    </div>
  </div>




  <button mat-button class="settings" *ngIf="displaySettings" [matMenuTriggerFor]="menu">
    <img src="assets/icons/settings.svg">
  </button>

  <mat-menu #menu="mdMenu" [overlapTrigger]="false">
    <div class="language" *ngIf="displayLanguageSelect">
      <img class="language-image" alt=""
           *ngFor="let lang of languages"
           (click)="changeLanguage(lang)"
           [src]="lang.image"
           [class.language-image_active]="chosenLanguage.json === lang.json">
    </div>
  </mat-menu>


  <div class="language" *ngIf="displayLanguageSelect">
    <img class="language-image" alt=""
         *ngFor="let lang of languages"
         (click)="changeLanguage(lang)"
         [src]="lang.image"
         [class.language-image_active]="chosenLanguage.json === lang.json">
  </div>
</div>
