<div class="navbar">

  <div class="logo"
       [routerLink]="''">
    <img src="assets/icons/logo.svg">
  </div>

  <div class="navbar-wrapper">
    <div class="avatar"
         [routerLink]="'profile'">
      <img src="assets/icons/user.svg">
    </div>
    <div class="button-spacer"></div>
    <div class="button"
         [routerLink]="'platform'">
      {{'navbar.dashboard' | translate}}
    </div>
    <div class="button-spacer"></div>
    <div class="button"
         [routerLink]="'choose-test'">
      {{'navbar.test' | translate}}
    </div>
    <div class="button-spacer"></div>
    <div class="navbar-breadcrumb">
      {{'navbar.random' | translate}}
    </div>
  </div>

  <div class="settings">
    <img src="assets/icons/settings.svg">
  </div>
</div>
