:host {
  display: block;

  height: 100%;

  padding-top: 20px;

  background: rgb(132,79,157);
  background: linear-gradient(38deg, rgba(132,79,157,1) 0%, rgba(40,113,255,1) 100%);

  &::ng-deep {
    .mat-raised-button {
      white-space: normal;
    }
  }
}
