<app-navbar displaySettings displaySmallLogo displayMiddle></app-navbar>


<div class="wrapper">
  <div class="qm-card" style="margin-top: 50px">
    <h1 class="header">
      {{'dashboard.title' | translate}}
    </h1>


    <button class="link text-center d-flex align-items-center justify-content-center col-6"
          mat-raised-button
          *ngIf="this.isTeacher"
    (click)="openCreateTestModal()"
    >
    {{'home.create' | translate}}
    </button>

    <a class="link d-flex align-items-center justify-content-center col-6" style="display: inline-block"
       *ngIf="this.isTeacher"
       mat-raised-button
       [href]="'create-test'"
       [routerLink]="'create-test'"
    >
      {{'home.edit' | translate}}
    </a>

    <a class="link d-flex align-items-center justify-content-center col-6"  style="display: inline-block"
       mat-raised-button
       [href]="'choose-test'"
       [routerLink]="'choose-test'"
    >
      {{'home.pass' | translate}}
    </a>

    <a class="link d-flex align-items-center justify-content-center col-6"  style="display: inline-block"
       mat-raised-button
       [href]="'stats'"
       [routerLink]="'stats'"
    >
      Stats
    </a>

    <a class="link d-flex align-items-center justify-content-center col-6"  style="display: inline-block"
       *ngIf="this.isTeacher"
       mat-raised-button
       [href]="'student-permission'"
       [routerLink]="'student-permission'"
    >
      Student permission
    </a>


  </div>
</div>


