<button class="link text-center d-flex align-items-center justify-content-center"
        mat-raised-button
        (click)="openCreateTestModal()"
>
  {{'home.create' | translate}}
</button>

<a class="link d-flex align-items-center justify-content-center"
   mat-raised-button
   [href]="'create-test'"
   [routerLink]="'create-test'"
>
  {{'home.edit' | translate}}
</a>

<a class="link d-flex align-items-center justify-content-center"
   mat-raised-button
   [href]="'choose-test'"
   [routerLink]="'choose-test'"
>
  {{'home.pass' | translate}}
</a>

<a class="link d-flex align-items-center justify-content-center"
   mat-raised-button
   [href]="'student-permission'"
   [routerLink]="'student-permission'"
>
  Student permission
</a>
