:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;

  color: white;

  background: rgb(132,79,157);
  background: linear-gradient(38deg, rgba(132,79,157,1) 0%, rgba(40,113,255,1) 100%);
}

.heading {
  font-size: 44px;

  margin: 0;

  color: black;
}

.mark {
  font-size: 24px;

  background: white;
}

.mat-card-title {
  text-overflow: ellipsis;

  white-space: nowrap;
}
