/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cursor-pointer {
  cursor: pointer;
}

.qm-card {
  width: 100%;
  padding: 40px !important;
  border-radius: 40px !important;
  background-color: #ffffff;
}

.wrapper {
  max-width: 900px;
  margin: auto;

  padding-bottom: 15px;
}

.back {
  top: 50px;
  left: 100px;

  cursor: pointer;

  &_icon {
    font-size: 50px;
  }
}
