<form class="mt-3 d-flex flex-column"
      [formGroup]="testForm"
>
  <mat-form-field class="col-12">
    <input [formControlName]="'name'" matInput [placeholder]="'test.name' | translate">
  </mat-form-field>

  <mat-form-field class="col-12">
    <input [formControlName]="'category'" [matAutocomplete]="auto" matInput [placeholder]="'test.category' | translate">

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of (testCategories$ | async)" [value]="option.name">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="col-12">
    <input [formControlName]="'information'" matInput [placeholder]="'test.info' | translate">
  </mat-form-field>
</form>

<button class="m-auto" mat-raised-button color="primary"
        (click)="createTest()">
  {{'test.create' | translate}}
</button>
